<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>カウントダウンAPP</title>
</head>

<body>
    <h1 id="countdown">
        <%- countdown %>
    </h1>
    <!-- ブラウザ側で動作するJavaScriptファイルを読み込む -->
    <script src="/client.js" defer></script>
</body>

</html>